force-app/main/default/flows/Cancel_a_Bundle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_values_to_cancelled_CUSB</name>
        <label>Set values to cancelled CUSB</label>
        <locationX>759</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Record.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Record.copado__Exclude_From_CBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Record.copado__Stop_Indexing_Metadata__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Record.copado__Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bundle Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_User_Story</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_is_Bundle_to_cancel</name>
        <label>Check if is Bundle to cancel</label>
        <locationX>168</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>No_Bundle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Bundle_and_no_bundle_related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Record.Is_Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Record.Bundle_User_Story__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Bundle</targetReference>
            </connector>
            <label>Is Bundle and no bundle related</label>
        </rules>
    </decisions>
    <interviewLabel>Cancel a Bundle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Bundle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Record</name>
        <label>Get Current Record</label>
        <locationX>176</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_is_Bundle_to_cancel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Bundle__c</queriedFields>
        <queriedFields>Bundle_User_Story__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Records</name>
        <label>Update Child Records</label>
        <locationX>582</locationX>
        <locationY>305</locationY>
        <connector>
            <targetReference>Set_values_to_cancelled_CUSB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bundle_User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bundle_User_Story__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Exclude_From_CBM__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Stop_Indexing_Metadata__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_User_Story</name>
        <label>Update current User Story</label>
        <locationX>920</locationX>
        <locationY>305</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>Get_Current_Record</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Cancel_Bundle</name>
        <label>Cancel Bundle</label>
        <locationX>424</locationX>
        <locationY>305</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Child_Records</targetReference>
        </connector>
        <fields>
            <name>Cancel_a_Bundle</name>
            <fieldText>&lt;p&gt;When cancelling a bundle, the following actions will occur:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The &lt;b&gt;Bundle User Story &lt;/b&gt;lookup field value in the child user stories will be empty. The child stories will no longer be related to the bundle user story.&lt;/li&gt;&lt;li&gt;The &lt;b&gt;Exclude from Auto Resolve&lt;/b&gt; and &lt;b&gt;Stop Indexing Metadata&lt;/b&gt; checkboxes in the child user stories will be unchecked. The child user stories will appear again in the pipeline to be promoted and back promoted.&lt;/li&gt;&lt;li&gt;The &lt;b&gt;Exclude from Auto Resolve&lt;/b&gt; and &lt;b&gt;Stop Indexing Metadata&lt;/b&gt; checkboxes in the bundle user story will be checked. The bundle user story will not appear in the pipeline to be promoted or back promoted.&lt;/li&gt;&lt;li&gt;The status field in the bundle user story will be updated to &lt;b&gt;Cancelled&lt;/b&gt;.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Bundle</name>
        <label>No Bundle / Part of another</label>
        <locationX>175</locationX>
        <locationY>551</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>nobundle</name>
            <fieldText>&lt;p&gt;This user story is not a bundle. This functionality is only available for bundle user stories.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Record.Is_Bundle__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>In_a_bundle</name>
            <fieldText>&lt;p&gt;This user story bundle is part of another user story bundle. You need to cancel the parent user story bundle first in order to cancel this user story bundle.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Record.Is_Bundle__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Current_Record.Bundle_User_Story__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1082</locationX>
        <locationY>305</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;The bundle was successfully cancelled.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>Get_Current_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
